<ion-header>
  <ion-toolbar>
    <ion-title>¿Donde estamos?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" style="width:100%; height:100%; "></div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" id="icons"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>¿Donde estamos?</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
