<ion-header>
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="document.data.nombre"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Raza</ion-label>
    <ion-input [(ngModel)]="document.data.raza"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-input [(ngModel)]="document.data.fecha_Nac"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Genero</ion-label>
    <ion-input [(ngModel)]="document.data.genero"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Peso</ion-label>
    <ion-input [(ngModel)]="document.data.peso"> </ion-input>
  </ion-item>
  <ion-item>
    <div><img class="imagenVistaPrevia" src="{{document.data.imagen}}"></div><br>
  </ion-item>
  <ion-item>
    <ion-button (click)="uploadImagePicker()"> Subir foto</ion-button>
    <ion-button (click)="deleteFile(document.data.imagen)"> Borrar foto</ion-button>
  </ion-item>


  <ion-button *ngIf="this.id == 'A'" (click)="clicBotonInsertar()"> Añadir animal</ion-button>

  <ion-button *ngIf="this.id != 'A'"(click)="alertBorrado()"><ion-icon name="trash-outline"></ion-icon></ion-button>
  <ion-button *ngIf="this.id != 'A'"(click)="clicBotonModificar()"><ion-icon name="checkmark-outline"></ion-icon></ion-button>

  <ion-button (click)="clicBotonVolver()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>

  <ion-button (click)="regularSharing()"><ion-icon name="share-social-outline"></ion-icon></ion-button>

  <br>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="llamada()">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
