<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="animalEditando.nombre"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Raza</ion-label>
    <ion-input [(ngModel)]="animalEditando.raza"> </ion-input>
  </ion-item>

  <ion-button (click)="clicBotonInsertar()"> Añadir animal</ion-button>

  <h1>LISTA DE ANIMALES</h1>
  <ion-list>
    <ion-item *ngFor="let documentAnimal of arrayAnimales">
      <ion-grid>
        <ion-row>
          <h2>{{ documentAnimal.data.nombre }}</h2>
        </ion-row>
        <ion-row>
          <h2>{{ documentAnimal.data.raza }}</h2>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
